# Consolidate manual annotations
consolidate manual annotations of threshold data to generate a final list of thresholded barcodes for plotting
<br/>
**V1**: updated 2016-05-03

In [1]:
import pandas as pd
import numpy as np

In [2]:
HIGH_CYCLE_FILE = '../output/thresholded-2016-05-02-Ling_redo-barcodes-merged-manual_edit.csv'
OUTPUT_FILE = '../output/thresholded-2016-05-02-Ling_redo-barcodes-final.csv'
SAMPLES_FILE_LING = '../helpers/samples-ling-2016_05_03.csv'
SAMPLES_FILE_FLYNN = '../helpers/samples-scrapates-all.csv'

In [3]:
samples = pd.read_csv(SAMPLES_FILE_LING, sep="\t")

In [4]:
data = pd.read_csv(HIGH_CYCLE_FILE, sep='\t')

In [10]:
'''
helper functions for high-cycle data
'''

def load_highcycle_data(fname):
    data = pd.read_csv(fname, sep='\t')
    data = data.loc[(data.manual==True)]

    drop_columns = ["Unnamed: 0", "idx", "percent_molecs", 'passed_threshold']
    data.drop(drop_columns, axis=1, inplace=True)
    data.reset_index(inplace=True,drop=True)

    data.loc[:,'prep_type'] = "high cycle"
    data.loc[:,'sample_type'] = data.monkey.apply(lambda x: 'BAL-GA' if x=='BALGA' else 'scrapate')
    data.tube = data.tube.astype(int)

    group_columns = ['monkey','tube','molecs']
    totals = data[group_columns].groupby(group_columns[:-1]).agg(sum)
    totals.loc[:,'molecs'] = totals.molecs.apply(lambda x: float(x)/100.)
    data.loc[:,'percent_molecs'] = data.apply(lambda x: x.molecs / totals.loc[(x.monkey, x.tube),'molecs'], axis=1)
    
    return data

def merge_highcycle_sample_info(data):
    scrapate_data = data.loc[data.sample_type=='scrapate']
    scrapate_data.monkey = scrapate_data.monkey.astype(int)
    merged_scrapates = pd.merge(scrapate_data,
                        samples.loc[samples.sample_type=='scrapate'],
                        how='outer',on=['monkey','tube','sample_type'])
    balga_data = data.loc[data.sample_type=='BAL-GA']
    
    merged_balga = pd.merge(balga_data,
                           samples.loc[samples.sample_type!='scrapate'],
                           how='outer',on='tube', suffixes=['_d',""])
    drop_columns = ['monkey_d','sample_type_d']
    merged_balga.drop(drop_columns, axis=1, inplace=True)
    
    return [merged_scrapates, merged_balga]
def merge_highcycle_dfs(dfs):
    merged = pd.concat(dfs)
    merged.drop('manual',axis=1,inplace=True)
    columns = ['monkey','sample_type','tissue', 'tissue_type',
               'qtag','gtag', 'molecs', 'percent_molecs', 'reads', 
               'prep_type', 'tube', 'count', 'dilution' ]
    merged = merged[columns]
    merged.sort_values(by=['monkey','sample_type','tube','molecs'],
                       ascending=[True,False,True,False], inplace=True)
    return merged

In [14]:
'''
RUN function for high-cycle data
'''

def process_highcycle_data(fname):
    data = load_highcycle_data(fname)
    return data
    merge_dfs = merge_highcycle_sample_info(data)
    merged = merge_highcycle_dfs(merge_dfs)
#     return merged

In [15]:
data = process_highcycle_data(HIGH_CYCLE_FILE)

In [17]:
data

,monkey,tube,qtag,gtag,molecs,reads,manual,prep_type,sample_type,percent_molecs
0,16314,10,q24,CATCTCT,16077,16917,True,high cycle,scrapate,59.825848
1,16314,10,q27,GCGGTAG,10796,11177,True,high cycle,scrapate,40.174152
2,16314,2,q26,CGCTTTG,17969,19037,True,high cycle,scrapate,100.000000
3,16314,22,q24,GTTAATA,1586,1596,True,high cycle,scrapate,100.000000
4,16314,26,q19,TTCGTCT,18920,20049,True,high cycle,scrapate,95.147096
5,16314,26,q19,TAGGGTC,965,970,True,high cycle,scrapate,4.852904
6,16314,27,q23,CGGCGCT,33237,36834,True,high cycle,scrapate,97.859498
7,16314,27,q23,GGGGGGG,727,731,True,high cycle,scrapate,2.140502
8,16314,3,q19,TTCGTCT,18664,19685,True,high cycle,scrapate,100.000000
9,16314,30,q23,CGGCGCT,28475,30964,True,high cycle,scrapate,100.000000
10,16314,33,q23,CGGCGCT,27434,29822,True,high cycle,scrapate,90.418905
11,16314,33,q24,CCTGCGT,2907,2924,True,high cycle,scrapate,9.581095
12,16314,34,q23,GTGTTTT,25102,26997,True,high cycle,scrapate,100.000000
13,16314,37,q23,CGGCGCT,9099,10117,True,high cycle,scrapate,67.695856
14,16314,37,q19,TAAAGTA,3945,4002,True,high cycle,scrapate,29.350495
15,16314,37,q19,GAACTTC,397,437,True,high cycle,scrapate,2.953649
16,16314,38,q23,CGGCGCT,1820,1886,True,high cycle,scrapate,93.621399
17,16314,38,q19,GAACTTC,124,128,True,high cycle,scrapate,6.378601
18,16314,4,q24,TATCGTC,18732,19801,True,high cycle,scrapate,54.717532
19,16314,4,q27,GCGGTAG,10864,11239,True,high cycle,scrapate,31.734533
20,16314,4,q23,CGGCGCT,4638,4708,True,high cycle,scrapate,13.547935
21,16314,40,q19,GTGAGGT,15214,15943,True,high cycle,scrapate,64.570070
22,16314,40,q26,TAGTGTC,8348,8569,True,high cycle,scrapate,35.429930
23,16314,42,q19,GAACTTC,5235,5336,True,high cycle,scrapate,100.000000
24,16314,47,q24,CCTGCGT,60358,73074,True,high cycle,scrapate,100.000000
25,16314,52,q26,TAGTGTC,24824,26805,True,high cycle,scrapate,100.000000
26,16314,53,q23,CGGCGCT,29522,32785,True,high cycle,scrapate,100.000000
27,16314,7,q24,CCTGCGT,48095,55582,True,high cycle,scrapate,88.816458
28,16314,7,q23,CGGCGCT,5568,5661,True,high cycle,scrapate,10.282359
29,16314,7,q24,GATTCGG,488,488,True,high cycle,scrapate,0.901184
30,16514,7,q24,GTGCATG,39646,44810,True,high cycle,scrapate,100.000000
31,16614,4,q27,CCCCGCA,11627,12043,True,high cycle,scrapate,52.355007
32,16614,4,q25,CATATTC,10581,10914,True,high cycle,scrapate,47.644993
33,BALGA,19,q24,CACCAAT,26859,29064,True,high cycle,BAL-GA,100.000000
34,BALGA,3,q24,CACCAAT,22951,24500,True,high cycle,BAL-GA,91.635391
35,BALGA,3,q24,TTTCGCA,2095,2104,True,high cycle,BAL-GA,8.364609
36,BALGA,6,q19,GGGCACT,32273,35509,True,high cycle,BAL-GA,100.000000
37,BALGA,7,q19,GGGCACT,24827,26612,True,high cycle,BAL-GA,100.000000

In [12]:
highcycle = process_highcycle_data(HIGH_CYCLE_FILE)

In [8]:
# highcycle.to_csv(OUTPUT_FILE)

In [13]:
highcycle

,monkey,sample_type,tissue,tissue_type,qtag,gtag,molecs,percent_molecs,reads,prep_type,tube,count,dilution
67,16314.0,scrapate,LUL Gran 8,gran,NaN,NaN,NaN,NaN,NaN,NaN,1.0,39.0,Neat
2,16314.0,scrapate,LUL Gran 5,gran,q26,CGCTTTG,17969.0,100.000000,19037.0,high cycle,2.0,20.0,Neat
8,16314.0,scrapate,LUL Gran 4,gran,q19,TTCGTCT,18664.0,100.000000,19685.0,high cycle,3.0,40.0,Neat
18,16314.0,scrapate,LUL Gran B,gran,q24,TATCGTC,18732.0,54.717532,19801.0,high cycle,4.0,2.0,Neat
19,16314.0,scrapate,LUL Gran B,gran,q27,GCGGTAG,10864.0,31.734533,11239.0,high cycle,4.0,2.0,Neat
20,16314.0,scrapate,LUL Gran B,gran,q23,CGGCGCT,4638.0,13.547935,4708.0,high cycle,4.0,2.0,Neat
68,16314.0,scrapate,LUL Gran 3,gran,NaN,NaN,NaN,NaN,NaN,NaN,5.0,13.0,Neat
69,16314.0,scrapate,RLL Gran G,gran,NaN,NaN,NaN,NaN,NaN,NaN,6.0,98.0,Neat
27,16314.0,scrapate,RUL Gran 1,gran,q24,CCTGCGT,48095.0,88.816458,55582.0,high cycle,7.0,1.0,Neat
28,16314.0,scrapate,RUL Gran 1,gran,q23,CGGCGCT,5568.0,10.282359,5661.0,high cycle,7.0,1.0,Neat
29,16314.0,scrapate,RUL Gran 1,gran,q24,GATTCGG,488.0,0.901184,488.0,high cycle,7.0,1.0,Neat
70,16314.0,scrapate,LML Gran C,gran,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4.0,Neat
71,16314.0,scrapate,LML Gran D,gran,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0,Neat
0,16314.0,scrapate,LML Gran E,gran,q24,CATCTCT,16077.0,59.825848,16917.0,high cycle,10.0,3.0,Neat
1,16314.0,scrapate,LML Gran E,gran,q27,GCGGTAG,10796.0,40.174152,11177.0,high cycle,10.0,3.0,Neat
72,16314.0,scrapate,LML Gran F,gran,NaN,NaN,NaN,NaN,NaN,NaN,11.0,21.0,Neat
73,16314.0,scrapate,LUL Gran 1,gran,NaN,NaN,NaN,NaN,NaN,NaN,12.0,16.0,Neat
74,16314.0,scrapate,LUL Gran 2,gran,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,Neat
75,16314.0,scrapate,LUL Gran F,gran,NaN,NaN,NaN,NaN,NaN,NaN,14.0,21.0,Neat
76,16314.0,scrapate,LML,lung,NaN,NaN,NaN,NaN,NaN,NaN,15.0,63.0,Neat
77,16314.0,scrapate,Access,lung,NaN,NaN,NaN,NaN,NaN,NaN,16.0,90.0,Neat
78,16314.0,scrapate,R Cran HLN,ln,NaN,NaN,NaN,NaN,NaN,NaN,17.0,14.0,Neat
79,16314.0,scrapate,RLL,lung,NaN,NaN,NaN,NaN,NaN,NaN,18.0,15.0,Neat
80,16314.0,scrapate,L Cran HLN 1,ln,NaN,NaN,NaN,NaN,NaN,NaN,19.0,13.0,Neat
81,16314.0,scrapate,L Cran HLN 2,ln,NaN,NaN,NaN,NaN,NaN,NaN,20.0,54.0,Neat
82,16314.0,scrapate,RUL,lung,NaN,NaN,NaN,NaN,NaN,NaN,21.0,120.0,Neat
3,16314.0,scrapate,LUL Gran J,gran,q24,GTTAATA,1586.0,100.000000,1596.0,high cycle,22.0,9.0,Neat
83,16314.0,scrapate,Acc Gran 1,gran,NaN,NaN,NaN,NaN,NaN,NaN,23.0,18.0,Neat
84,16314.0,scrapate,Acc Gran 2,gran,NaN,NaN,NaN,NaN,NaN,NaN,24.0,181.0,Neat
85,16314.0,scrapate,L Kidney,ep,NaN,NaN,NaN,NaN,NaN,NaN,25.0,54.0,Neat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,16614.0,scrapate,R. Cran HLN Gr,ln,NaN,NaN,NaN,NaN,NaN,NaN,19.0,48.0,Neat
59,16614.0,scrapate,RLL Gran 5,gran,NaN,NaN,NaN,NaN,NaN,NaN,20.0,79.0,Neat
60,16614.0,scrapate,RLL Gran 3,gran,NaN,NaN,NaN,NaN,NaN,NaN,21.0,9.0,Neat
61,16614.0,scrapate,RLL Gran B,gran,NaN,NaN,NaN,NaN,NaN,NaN,22.0,1.0,Neat
62,16614.0,scrapate,RLL Gran 16,gran,NaN,NaN,NaN,NaN,NaN,NaN,23.0,2.0,Neat
63,16614.0,scrapate,RLL Gran 14,gran,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2.0,Neat
64,16614.0,scrapate,RLL Gran 4,gran,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0,Neat
65,16614.0,scrapate,RLL Gran 6,gran,NaN,NaN,NaN,NaN,NaN,NaN,26.0,2.0,Neat
66,16614.0,scrapate,RLL Gran 1,gran,NaN,NaN,NaN,NaN,NaN,NaN,27.0,178.0,Neat
1,16614.0,ga,1 (31.Mar.15),ga,q24,CACCAAT,22951.0,91.635391,24500.0,high cycle,3.0,12.0,7ml
2,16614.0,ga,1 (31.Mar.15),ga,q24,TTTCGCA,2095.0,8.364609,2104.0,high cycle,3.0,12.0,7ml
0,16614.0,bal,1 (15.Jan.15),bal,q24,CACCAAT,26859.0,100.000000,29064.0,high cycle,19.0,NaN,NaN
7,16714.0,ga,1 (16.Jan.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,Slant
8,16714.0,ga,2 (03.Feb.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,L
3,16714.0,ga,3 (03.Feb.15),ga,q19,GGGCACT,32273.0,100.000000,35509.0,high cycle,6.0,4.0,Slant
4,16714.0,ga,4 (19.Jan.15),ga,q19,GGGCACT,24827.0,100.000000,26612.0,high cycle,7.0,5.0,7ml
9,16714.0,ga,5 (10.Dec.14),ga,NaN,NaN,NaN,NaN,NaN,NaN,8.0,6.0,7ml
10,16814.0,ga,1 (05.Feb.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,9.0,8.0,L
11,16814.0,ga,2 (05.Mar.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,7ml
12,16814.0,ga,3 (21.Jan.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,11.0,10.0,L
13,16814.0,ga,4 (09.Jan.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,12.0,11.0,7ml
34,16914.0,scrapate,Gran C,gran,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,Neat
35,16914.0,scrapate,LLL Gran 14,gran,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,Neat
14,16914.0,ga,1 (05.Feb.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,7ml
36,17014.0,scrapate,LLL Gran 12,gran,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Neat
37,17014.0,scrapate,L Cran HLN 2 Gran,ln,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,Neat
38,17014.0,scrapate,LLL Gran 10,gran,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,Neat
39,17014.0,scrapate,LLL Gran 2,gran,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,Neat
40,17014.0,scrapate,L Carin LN,ln,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,Neat
15,17014.0,ga,1 (09.Jan.15),ga,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,7ml